/* Keep sidebar open */
#sideBar {
    margin-left: 0 !important;
}

/* Hide the + button */
#demo {
    display: none !important;
}

/* Hide the dark overlay */
#sideBarOverlay {
    display: none !important;
}